---
title: Blog
---

<div class="page">
  
  {% for post in site.posts %}
    {% if post.url == site.posts.first.url %}
      <div class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        <p class="page-tagline">Find out what I've been up to lately or check out one of my tutorials.</p>
      </div>
      <div class="page-hero">
        <div class="page-hero-image-container">
          <a href="{{site.posts.first.url}}">
            <img class="page-hero-image" src="/uploads/{{site.posts.first.featured_image}}" />
          </a>
        </div>
        <div class="page-hero-article-excerpt">
          <h2><a href="{{site.posts.first.url}}">{{ site.posts.first.title }}</a></h2>
          <p>{{ site.posts.first.hero }}</p>
          <a href="{{site.posts.first.url}}">Read More</a>
        </div>
      </div>
    {% else %}
      <a href="{{post.url}}">{{post.title}}</a>
    {% endif %}
    
  {% endfor %}
</div>
