.article {
  width: 100%;
  padding-bottom: 5rem;
  .article-title-container {
    text-align: center;
    .article-title {
      display: inline-block;
      font-weight: $font-bold;
      font-size: 2rem;
      border-bottom: solid 5px $accent2;
    }
  }
  img {
    width: 100%;
  }
}

.article-button-container {
  text-align: center;
  .article-button {
    display: inline-block;
    font-family: $primary-font;
    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.2rem 0;
    &:hover {
      font-size: 1rem;
      text-decoration: none;
    }

    &.live {
      border: solid 4px $accent;
      color: #333;

      &:hover {
        color: #fff;
        background-color: $accent;
      }
    }

    &.repo {
      color: #333;
      border: solid 4px #333;

      &:hover {
        color: #fff;
        background-color: #333;
      }
    }
  }
}


@media (min-width: 992px) {
 .article-button-container {
    .article-button {
      position: absolute;
      &.live {
        top: 1rem;
        right: 1rem;
      }
      &.repo {
        top: 1rem;
        right: 8rem;
      }
    }
  }
}