/* General */
html {
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

a {
  font-family: $primary-font;
  font-weight: $font-bold;
  color: $links;
  text-decoration: none;
  transition: .2s;
  &:hover {
    font-size: 1.1rem;
    text-decoration: underline;
    color: darken($links, 10%);
  }
}

/* Font Defaults */
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: #333;
}

p, ul {
  margin-bottom: 0.9rem;
  font-family: $primary-font;
  color: #333;
  line-height: 1.8rem;
  code {
    color: #fff;
    background-color: $accent;
    border-radius: 2px;
    padding: 0 0.3rem 0.1rem 0.3rem;
    font-family: $secondary-font;
  }
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.view {
  display: flex;
  flex-direction: column;
   aside {
     box-sizing: border-box;
     background-color: #fff;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
     min-width: 300px;
   }

   main {
     padding: 3rem;
     background-color: #fefefe;
     width: 100%;
     box-sizing: border-box;
   }
}

/* visibility toggle */

.visible {
  display: inline !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .view {
    height: 100vh;
    flex-direction: row;
    aside {
      position: fixed;
      flex: 1;
      height: 100vh;
      max-width: 300px;
      padding-left: 2rem;
      padding-right: 1rem;
    }
    main {
      margin-left: 300px;
      width: calc(100% - 300px);
      flex: 3;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}