.page {
  text-align: center;
  .page-header {
    margin-bottom: 6.67rem;
    text-align: left;
    .page-title {
      font-size: 3.55rem;
      margin-bottom: 0;
      border-right: solid 4px $accent;
    }
    .page-tagline {
      max-width: 556px;
      font-size: 1.1rem;
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    .about-img {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .about-text {
      flex: 1;
      text-align: left;
    }
  }    
  
  

  .page-hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: left;
    .page-hero-image-container {
      flex: 1;
      .page-hero-image {
        width: 100%;
      }
    }

    .page-hero-article-excerpt {
      flex: 1;
      h2 {
        & a {
          margin-bottom: 1rem;
          &:hover {
            font-size: 1.6rem;
          }
        }
      }

      p {
        margin-bottom: 1.5rem;
      }
    }
  }

  .page-post {
    box-sizing: border-box;
    display: block;
    width: 100%;
    .page-post-image {
      width: 100%;
    }
    .page-post-info-container {
      display: flex;
      justify-content: space-between;
      .page-post-info {
        flex: 1;
        .page-post-title {
          margin: 0 0 2.5rem 0;

          a {
            &:hover {
              font-size: 1.2rem;
            }
          }
        }

        .page-post-date {
          color: #333;
          font-size: 0.75rem;
          margin: 0;
        }
      }
      
      .project-icon-buttons {
        .project-icon-button {
          color: #333;

          i {
            margin: 0.5rem 0.2rem;
          }
        }
      }
      
    }
  }
  .project-buttons {
    text-align: center;
  }
  .project-button {
    box-sizing: border-box;
    display: inline-block;
    font-family: $primary-font;
    font-weight: 400;
    text-decoration: none;
    min-width: 153px;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.5rem 0.2rem 0 0.2rem;
    &:hover {
      font-size: 1rem;
      text-decoration: none;
    }

    &.live {
      border: solid 4px $accent;
      color: #333;

      &:hover {
        color: #fff;
        background-color: $accent;
      }
    }

    &.repo {
      color: #333;
      border: solid 4px #333;

      &:hover {
        color: #fff;
        background-color: #333;
      }
    }
  }

  .fa-arrow-right {
    margin-left: 0.5rem;
  }
}

@media (min-width: 992px) {
  .page {
    .page-hero {
      flex-direction: row;
      align-items: center;
    }
    .page-hero-image-container {
      margin-right: 2rem;
      .page-hero-image {
        max-width: 555px;
      }
    }

    .page-hero-article-excerpt {
      h2 {
        margin-top: 0;
      }
    }
    .page-post {
      display: inline-block;
      width: calc(33% - 36px);
      margin: 1rem;
      text-align: left;
      transition: .2s;
      cursor: pointer;
      &:hover {
        transform: translate(0, -5px);
      }
    }
    .project-buttons {
      text-align: left;
    }
    .project-button {
      display: inline-block;
      margin: 0 0.2rem;
    }

    .about-container {
      flex-direction: row;
      align-items: center;
      .about-img {
        img {
          max-width: 325px;
          width: 100%;
        }
      }
      .about-text {
        padding-right: 15%;
      }
    } 
  }
  
  
}